# config
/.idea

# ignore
/node_modules
/package-lock.json
/public/
/production/

# client
/music-player/package-lock.json
/music-player/node_modules/
/music-player/build/

# unigonre
!/public/mp3/!keep